@import './styles.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Messina Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/app/assets/fonts/MessinaSans_Complete_Upright_Variable_Web.woff2')
      format('woff2');
  }
  @font-face {
    font-family: 'Messina Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/app/assets/fonts/MessinaSans_Complete_Upright_Variable_Web.woff')
      format('woff');
  }
  :root {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .dark {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

html,
body {
  @apply bg-white  text-dark font-regular antialiased tabular-nums text-base;

  font-stretch: 85%;
  scrollbar-color: var(--slate-100) transparent;
  scrollbar-width: thin;
}
